app-canvas {
  position: absolute;
  inset: 0;
  display: block;
}

.stack {
  align-self: center;
  transform-origin: 0 0;
  will-change: transform;
  position: relative;
}

.layer-canvas {
  position: absolute;
  inset: 0;
}
