<ng-container *ngIf="vm$ | async as vm">
  <div
    class="stack"
    [style.width.px]="vm.w"
    [style.height.px]="vm.h"
    [style.transform]="transform$ | async"
  >
    <app-canvas
      *ngFor="let l of vm.layers; trackBy: trackById"
      [width]="vm.w"
      [height]="vm.h"
      [layerId]="l.id"
      [visible]="l.visible"
      [opacity]="l.opacity"
      [zIndex]="l.zIndex"
      [canvasData]="l.canvasData"
      [active]="l.id === vm.selectedId"
      [style.display]="l.visible ? 'block' : 'none'"
      [style.opacity]="l.opacity"
      [style.zIndex]="l.zIndex"
      [style.pointer-events]="l.id === vm.selectedId ? 'auto' : 'none'"
    >
    </app-canvas>
  </div>
</ng-container>
