<h2 class="title">Your folders</h2>

<div class="grid">
  <mat-card class="folder-card" role="button" (click)="addFolder()">
    <mat-icon class="folder-icon folder-add" fontIcon="add"></mat-icon>
  </mat-card>

  <mat-card class="folder-card" *ngFor="let f of (folders$ | async) || []" role="button">
    <ng-container *ngIf="f.icon; else defaultIcon">
      <mat-icon class="folder-icon" [fontIcon]="f.icon"></mat-icon>
    </ng-container>
    <ng-template #defaultIcon>
      <mat-icon class="folder-icon" fontIcon="folder"></mat-icon>
    </ng-template>
    <div class="name" [title]="f.name">{{ f.name }}</div>
  </mat-card>
</div>
