.title {
  color: var(--white);
  margin: 20px;
  align-self: center;
  justify-self: center;
}

.muted {
  color: #6b7280;
}
.form-error {
  color: #d32f2f;
}

.empty {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #6b7280;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  justify-content: flex-start;
  max-width: 1300px;
  margin-inline: auto;
  align-items: flex-start;
}

.folder-card {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 12px;
  transition: transform 120ms ease, box-shadow 120ms ease;
  height: 140px;
  min-width: 140px;
  position: relative;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    outline: none;
  }
}

.folder-add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  width: 50px !important;
  height: 90px;
}

.folder-icon {
  margin-top: 10px;
  font-size: 70px;
  line-height: 1;
  color: var(--accent);
  align-self: center;
  justify-self: center;
  width: 70px;
  height: 70px;
}

.name {
  font-weight: 600;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.folder-card {
  position: relative;
  cursor: pointer;

  .delete-btn {
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 6px;
    right: 4px;
    width: 3px;
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    fa-icon {
      font-size: 10px;
    }
  }
}
