<h2 class="title">Your folders</h2>

<p *ngIf="loading" class="muted">Loading…</p>
<p class="form-error" *ngIf="error">{{ error }}</p>
<p *ngIf="!loading && !folders.length && !error" class="empty">
  <mat-icon fontIcon="folder_open"></mat-icon>
  <span>No folders yet.</span>
</p>

<div *ngIf="folders.length" class="grid">
  <mat-card class="folder-card" *ngFor="let f of folders" role="button">
    <ng-container *ngIf="f.icon; else defaultIcon">
      <mat-icon class="folder-icon" [fontIcon]="f.icon"></mat-icon>
    </ng-container>
    <ng-template #defaultIcon>
      <mat-icon class="folder-icon" fontIcon="folder"></mat-icon>
    </ng-template>
    <div class="name" [title]="f.name">{{ f.name }}</div>
  </mat-card>
</div>
