<button mat-icon-button><mat-icon fontIcon="close"></mat-icon></button>
<h2 mat-dialog-title>Login Form</h2>
<mat-dialog-content>
  <h3>Please enter your username and password</h3>
  <p>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" />
      <mat-icon matSuffix fontIcon="person"></mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" />
      <mat-icon matSuffix fontIcon="key"></mat-icon>
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button>Login</button>
</mat-dialog-actions>
