<div class="stack" [style.width.px]="width" [style.height.px]="height">
  <app-canvas
    *ngFor="let l of layers$ | async; trackBy: trackById"
    [width]="width"
    [height]="height"
    [layerId]="l.id"
    [visible]="l.visible"
    [opacity]="l.opacity"
    [zIndex]="l.zIndex"
    [canvasData]="l.canvasData"
    [active]="l.id === (selectedLayerId$ | async)"
    [style.display]="l.visible ? 'block' : 'none'"
    [style.opacity]="l.opacity"
    [style.zIndex]="l.zIndex"
  >
  </app-canvas>
</div>
