@use '@angular/material' as mat;

:root {
  --app-bg: #909090; /* rgb(144,144,144) */
}

body {
  background-color: var(--app-bg);
}

.app-layout {
  display: flex;
  height: 100vh;
}

aside {
  width: 350px;
  background: #f4f4f4;
  padding: 2rem;
  border-right: 1px solid #ccc;
  overflow: auto;
  box-sizing: border-box;
}

aside.manager {
  display: grid;
  grid-template-rows: 30% 70%;
}

main.canvas-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #909090;
  padding: 2rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}

button.selected {
  border-color: #000;
  background: #eee;
}
